<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estação metereológica</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/public/css/index.css" />
  </head>
  <body>
    <header>
      <div class="secao2">
        <div class="container-fluid">
          <div class="row justify-content-start">
            <div class="col-sm-8">
              <h1>Estação metereológica Selmini</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="secao1">
      <h1>Dados da estação metereológica</h1>
      <div class="outra">
        <div class="row justify-content-center" background-color="white">
          <div class="col">
            <ul id="dados"></ul>
          </div>
        </div>
      </div>
    </div>

   <script type="module">
        import  chartJs from 'https://cdn.jsdelivr.net/npm/chart.js@4.2.1/+esm'

        var leituras = []

        {{#each leituras}}
            leituras.push({
                temperatura: {{temperatura}},
                umidade: {{umidade}},
                data_criacao: '{{data_criacao}}',
                id: {{id}}
            })
        {{/each}}

        for(let i = 0; i < leituras.length; i++) {
            const newElement = document.createElement("li")

            newElement.textContent = JSON.stringify(leituras[i])

            document.querySelector("ul#dados").appendChild(newElement)
        }
    </script>

  </body>
</html>